{% extends 'IMS/base.html' %}
{% block content %}
{% if device_list or campus_list or teacher_list %}
<div class="container">

    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Device</th>
          <th scope="col">Campus Name</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Device ID</th>
        </tr>
      </thead>
      <tbody>
        {% for device in device_list %}
        <tr>
          
          <th scope="row"><a href="/ims/device/{{ device.id }}/">{{ device.name }}</a></th>
          <td><a href="/ims/campus/{{ device.owner.campus.id }}">{{ device.owner.campus.name }}</a></td>
          <td><a href="/ims/teacher/{{ device.owner.id }}">{{ device.owner.name }}</a></td>
          <td>{{ device.get_status_display }}</td>
          <td><a href="/ims/device/{{ device.id }}/">{{ device.id }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Campus</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teacher_list %}
        <tr>
          <th scope="row"><a href="/ims/teacher/{{ teacher.id }}/">{{ teacher.name }}</a></th>
          <td><a href="/ims/campus/{{ teacher.campus.id }}">{{ teacher.campus.name }}</a></td>
          <td>{{ teacher.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>



{% else %}
    <p>No devices are available.</p>
{% endif %}
{% endblock %}



<!--
Old layout for index page

    <div class="card card-default" style="margin-top:20px">
        <div class="card-heading" id="heading-one" role="tab">
            <h4 class="card-title">
                <a aria-expanded="true" aria-controls="One" href="#One" data-toggle="collapse">
                    Devices
                </a>
                <span class="badge">{{ device_list|length }}</span>
            </h4>
        </div>
        <div class="border-light in card-collapse collapse container-fluid" id="One" role="tabcard" aria-labelledby="heading-one">
            <ul class="list-group list-group-flush row" style="margin-bottom:0px">
                <li class="list-group-item list-group-item-secondary col-md-1">
                    <b>Device</b>
                </li>
                <li class="list-group-item list-group-item-secondary col-md-3">
                    <b>Campus Name</b>
                </li>
                <li class="list-group-item list-group-item-secondary col-md-2">
                    <b>Name</b>
                </li>
                <li class="list-group-item list-group-item-secondary col-md-2">
                    <b>Status</b>
                </li>
                <li class="list-group-item list-group-item-secondary col-md-4">
                    <b>Device ID</b>
                </li>
            </ul>
            {% for device in device_list %}
            <div class="list-group row list-group-flush" style="margin-bottom:0px">
                <div class="list-group-item col-md-1">
                    <a href="/ims/device/{{ device.id }}/">{{ device.name }}</a>
                </div>
                <div class="list-group-item col-md-3">
                    <a href="/ims/campus/{{ device.owner.campus.id }}">{{ device.owner.campus.name }}</a>
                </div>
                <div class="list-group-item col-md-2">
                    <a href="/ims/teacher/{{ device.owner.id }}">{{ device.owner.name }}</a>
                </div>
                <div class="list-group-item col-md-2">
                    {{ device.status }}
                </div>
                <div class="list-group-item col-md-4">
                    <a href="/ims/device/{{ device.id }}/">{{ device.id }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="card card-default" style="margin-top:20px">
        <div class="card-heading" id="heading-two" role="tab">
            <h4 class="card-title">
                <a aria-expanded="true" aria-controls="Two" href="#Two" data-toggle="collapse">
                    Teachers
                </a>
                <span class="badge">{{ teacher_list|length }}</span>
            </h4>
        </div>
        <div class="in card-collapse collapse container-fluid" id="Two" role="tabcard" aria-labelledby="heading-two">
            <div class="list-group row" style="margin-bottom:0px">
                <div class="list-group-item col-md-4">
                    <b>Name</b>
                </div>
                <div class="list-group-item col-md-4">
                    <b>Campus</b>
                </div>
                <div class="list-group-item col-md-4">
                    <b>Email</b>
                </div>
            </div>
            {% for teacher in teacher_list %}
            <div class="list-group row" style="margin-bottom:0px">
                <div class="list-group-item col-md-4">
                    <a href="/ims/teacher/{{ teacher.id }}/">{{ teacher.name }}</a>
                </div>
                <div class="list-group-item col-md-4">
                    <a href="/ims/campus/{{ teacher.campus.id }}">{{ teacher.campus.name }}</a>
                </div>
                <div class="list-group-item col-md-4">
                    {{ teacher.email }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
-->