{% extends 'IMS/base.html' %}
{% block content %}
{% if teacher %}
<div class="container">
    <h2><a href="/ims/">China Spring Inventory System</a></h2>
    <h3>{{ teacher.name }}</h3>
    <h4>{{ teacher.campus }}</h4>
    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading" id="heading-one" role="tab">
            <h4 class="panel-title">
                <a aria-expanded="false" aria-controls="One" href="#One" data-toggle="collapse">
                    Devices
                </a>
                <span class="badge">{{ device_list.count }}</span>
            </h4>
        </div>
        <div class="in panel-collapse collapse container-fluid" id="One" role="tabpanel" aria-labelledby="heading-one">
            <div class="list-group row" style="margin-bottom:0px">
                <div class="list-group-item col-md-1">
                    <b>Device</b>
                </div>
                <div class="list-group-item col-md-3">
                    <b>Campus</b>
                </div>
                <div class="list-group-item col-md-2">
                    <b>User</b>
                </div>
                <div class="list-group-item col-md-2">
                    <b>Status</b>
                </div>
                <div class="list-group-item col-md-4">
                    <b>ID</b>
                </div>
            </div>
            {% for device in device_list %}
            <div class="list-group row" style="margin-bottom:0px">
                <div class="list-group-item col-md-1">
                    <a href="/ims/device/{{ device.id }}/">{{ device.name }}</a>
                </div>
                <div class="list-group-item col-md-3">
                    <a href="/ims/campus/{{ device.owner.campus.id }}">{{ device.owner.campus.name }}</a>
                </div>
                <div class="list-group-item col-md-2">
                    {{ device.owner.name }}
                </div>
                <div class="list-group-item col-md-2">
                    {{ device.status }}
                </div>
                <div class="list-group-item col-md-4">
                    <a href="/ims/device/{{ device.id }}/">{{ device.id }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% else %}
<p>Something went wrong</p>
{% endif %}

{% endblock %}